#root {
    --chatHeaderHeight: 80px;
}

.chat__header {
    border-radius: 2px 4px 0 0;
    padding-top: 7px;
    padding-bottom: 6px;
    position: relative;
    z-index: 1;
    height: 48px;
    border-bottom: 1px solid #e4e6e9;
}

.header__wrapper {
    display: flex;
    justify-content: space-between;
}

.header__info, .header__last-message {
    padding: 15px 20px;
    position: relative;
    display: flex;
    align-items: center;
    overflow: hidden;
    height: 18px;
    text-overflow: ellipsis;
    line-height: 18px;
    font-size: 14px;
}

.header__name {
    display: inline-flex;
    flex: 1 1 auto;
    overflow: hidden;
    color: #222;
    text-overflow: ellipsis;
    font-weight: 500;
    -webkit-font-smoothing: subpixel-antialiased;
    align-items: center;
    max-width: 100%;
    cursor: pointer;
}

.header__participants-count, .header__messages-count, .header__last-message {
    margin-left: 8px;
    flex: 0 0 auto;
    color: #939393;
    font-size: 13px;
}

@media screen and (max-width: 765px) {
    .chat__participants-count {
        margin: 0 12px;
    }
}

@media screen and (max-width: 700px) {
    #root {
        --chatHeaderHeight: 60px;
    }
}

@media screen and (max-width: 450px) {
    .chat__info {
        flex-direction: column;
        align-items: flex-start;
    }
    .chat__participants-count {
        margin: 0;
    }
}