.messages__message {
    display: flex;
    position: relative;
    font-size: 13px;
    text-align: left;
}

.messages__message .message__group {
    flex-grow: 1;
    position: relative;
}

.messages__message .message__avatar-block {
    position: absolute;
    top: 9px;
    z-index: 2;
    left: 43px;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    cursor: pointer;
}

.messages__message .message__avatar {
    border-radius: 50%;
    max-height: 100%;
    height: 100%;
}

.messages__message .message__header {
    display: flex;
    align-items: center;
    z-index: 2;
    font-size: 12.5px;
    position: absolute;
    top: 11px;
    left: 92px;
    color: rgb(111, 121, 133);
}

.messages__message .message__user-name {
    cursor: pointer;
    color: rgb(42, 88, 133);
    font-weight: 700;
    -webkit-font-smoothing: antialiased;
    max-width: 240px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    vertical-align: top;
    line-height: 1.23;
}

.messages__message .message__time {
    margin-left: 4px;
    color: rgba(119, 126, 140, .6);
    font-size: 12px;
    z-index: 2;
    line-height: 1.4;
}

.messages__message .message__content-block {
    position: relative;
    margin: 0 7px 4px 7px;
    padding: 6px 30px 7px 0;
}

.messages__message .message__content {
    padding-top: 21px;
    margin: 0 49px 0 86px;
    outline: 0;
    line-height: 18px;
}

.message__actions {
    display: flex;
}

.message__icon {
    display: inline-block;
    vertical-align: top;
    width: 24px;
    height: 24px;
    outline: 0;
    cursor: pointer;
    position: relative;
    top: 15px;
    opacity: .7;
}

.message__icon:hover {
    opacity: 1;
}

.messages__message .message__edit-icon {
    margin-right: 7px;
    background: url(data:image/svg+xml;charset=utf-8,%3Csvg%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%20width%3D%2224%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cg%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%3Cpath%20d%3D%22m0%200h24v24h-24z%22%2F%3E%3Cpath%20d%3D%22m7.00723148%2015.0072315%201.98547057%201.9854705-.51090487.5109219-2.19710349.4394354c-.15126149.0302534-.25920135-.0705252-.22775495-.2277624l.4394207-2.1971764zm.99998341-1.0000166%207.70239431-7.70264988c.3948871-.39490016%201.0298385-.39805257%201.4195204-.00835778l.5742749.57429394c.3953567.3953699.38594%201.02525678-.0083575%201.41956744l-7.70236153%207.70261688z%22%20fill%3D%22%23828a99%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E) center no-repeat;
}

.messages__message .message__delete-icon {
    margin-right: 43px;
    background: url(data:image/svg+xml;charset=utf-8,%3Csvg%20height%3D%2217%22%20viewBox%3D%220%200%2016%2017%22%20width%3D%2216%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22m2%2015c0%201.1.9%202%202%202h8c1.1%200%202-.9%202-2v-10h-12zm8-7c0-.6.4-1%201-1s1%20.4%201%201v6c0%20.6-.4%201-1%201s-1-.4-1-1zm-3%200c0-.6.4-1%201-1s1%20.4%201%201v6c0%20.6-.4%201-1%201s-1-.4-1-1zm-3%200c0-.6.4-1%201-1s1%20.4%201%201v6c0%20.6-.4%201-1%201s-1-.4-1-1zm11-6h-5v-1c0-.6-.4-1-1-1h-2c-.6%200-1%20.4-1%201v1h-5c-.6%200-1%20.4-1%201s.4%201%201%201h14c.6%200%201-.4%201-1s-.4-1-1-1z%22%20fill%3D%22%23828a99%22%2F%3E%3C%2Fsvg%3E) center no-repeat;
}

.messages__message .message__like-icon {
    margin-right: 43px;
    background: url(data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2024%2024%22%3E%3Ctitle%3Elike_outline_24%3C%2Ftitle%3E%3Cpath%20d%3D%22M0%2C0H24V24H0Z%22%20fill%3D%22none%22%2F%3E%3Cpath%20d%3D%22M17%2C2.9A6.43%2C6.43%2C0%2C0%2C1%2C23.4%2C9.33c0%2C3.57-1.43%2C5.36-7.45%2C10l-2.78%2C2.16a1.9%2C1.9%2C0%2C0%2C1-2.33%2C0L8.05%2C19.37C2%2C14.69.6%2C12.9.6%2C9.33A6.43%2C6.43%2C0%2C0%2C1%2C7%2C2.9a6.46%2C6.46%2C0%2C0%2C1%2C5%2C2.54A6.46%2C6.46%2C0%2C0%2C1%2C17%2C2.9ZM7%2C4.7A4.63%2C4.63%2C0%2C0%2C0%2C2.4%2C9.33c0%2C2.82%2C1.15%2C4.26%2C6.76%2C8.63l2.78%2C2.16a.1.1%2C0%2C0%2C0%2C.12%2C0L14.84%2C18c5.61-4.36%2C6.76-5.8%2C6.76-8.63A4.63%2C4.63%2C0%2C0%2C0%2C17%2C4.7c-1.56%2C0-3%2C.88-4.23%2C2.73L12%2C8.5l-.74-1.07C10%2C5.58%2C8.58%2C4.7%2C7%2C4.7Z%22%20fill%3D%22%23828a99%22%2F%3E%3C%2Fsvg%3E);
}

.messages__message .message__like-icon.active {
    background-image: url(data:image/svg+xml;charset=utf-8,%3Csvg%20viewBox%3D%220%200%2024%2024%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22m0%200h24v24h-24z%22%20fill%3D%22none%22%2F%3E%3Cpath%20d%3D%22m17%202.9a6.43%206.43%200%200%201%206.4%206.43c0%203.57-1.43%205.36-7.45%2010l-2.78%202.16a1.9%201.9%200%200%201%20-2.33%200l-2.79-2.12c-6.05-4.68-7.45-6.47-7.45-10.04a6.43%206.43%200%200%201%206.4-6.43%205.7%205.7%200%200%201%205%203.1%205.7%205.7%200%200%201%205-3.1z%22%20fill%3D%22%23ff3347%22%2F%3E%3C%2Fsvg%3E);
}

@media screen and (max-width: 470px) {
    .messages__message .message__avatar-block {
        left: 10px;
    }

    .messages__message .message__header {
        left: 59px;
    }

    .messages__message .message__content {
        margin: 0 49px 0 53px;
    }

    .messages__message .message__delete-icon, .messages__message .message__like-icon {
        margin-right: 10px;
    }
}

