.chat__message-input {
    display: flex;
    align-items: center;
    position: relative;
    border-top: 1px solid #e7e8ec;
    background: #fafbfc;
    padding-left: 10px;
    border-bottom-right-radius: 4px;
}

.message-input__input-block {
    cursor: text;
    background: #fff;
    border-radius: 6px;
    border: solid 1px #d3d9de;
    width: 100%;
}

.chat__message-input input {
    padding-left: 13px;
    border-radius: 6px;
    padding-top: 7px;
    padding-bottom: 8px;
    margin-bottom: 0;
    border: 0;
    outline: 0;
    min-height: 36px;
    width: 100%;
    resize: none;
    max-height: 200px;
    overflow-y: auto;
    overflow-x: hidden;
    line-height: 17px;
    word-wrap: break-word;
    box-sizing: border-box;
    transition: border-bottom-color .3s linear;
}

.message-input__button {
    position: relative;
    margin-top: -1px;
    border: 0;
    background: 0 0;
    padding: 31px 28px;
    cursor: pointer;
    width: 52px;
    height: 55px;
    display: block;
    opacity: .7;
}

.message-input__button:hover {
    opacity: 1;
}

.message-input__button:focus {
    outline: none;
}

.message-input__button::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    animation: .15s linear 0s im-zoom-hide;
    background: url(data:image/svg+xml;charset=utf-8,%3Csvg%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%20width%3D%2224%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22m4.7%2015.8c-.7%201.9-1.1%203.2-1.3%203.9-.6%202.4-1%202.9%201.1%201.8s12-6.7%2014.3-7.9c2.9-1.6%202.9-1.5-.2-3.2-2.3-1.4-12.2-6.8-14-7.9s-1.7-.6-1.2%201.8c.2.8.6%202.1%201.3%203.9.5%201.3%201.6%202.3%203%202.5l5.8%201.1c.1%200%20.1.1.1.1s0%20.1-.1.1l-5.8%201.1c-1.3.4-2.5%201.3-3%202.7z%22%20fill%3D%22%23828a99%22%2F%3E%3C%2Fsvg%3E) center no-repeat;
    background-size: 24px 24px;
}

.message-input__button-block button:hover {
    color: #fff;
    background-color: #0069d9;
    border-color: #0062cc;
}