#root {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    --size: calc(1vw * .7);
    --headerHeight: 56px;
    --footerHeight: 56px;
    color: #555;
    background: #edeef0;
}

.loader-spinner {
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.loader-spinner .spinner {
    z-index: 5000;
}

@media screen and (max-width: 1250px) {
    #root {
        --size: 1vw;
    }
}

@media screen and (max-width: 920px) {
    #root {
        --size: 1.1vw;
    }
}

@media screen and (max-width: 600px) {
    #root {
        --size: 1.2vw;
    }
}

@media screen and (max-width: 450px) {
    #root {
        --size: 1.3vw;
    }
}

@media screen and (max-width: 400px) {
    #root {
        --size: 1.5vw;
    }
}