.chat__wrapper {
    background: #fff;
    flex-grow: 1;
    margin: 15px auto;
    height: calc(100vh - var(--headerHeight) - var(--footerHeight) - 30px);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    box-shadow: 0 1px 0 0 #d3d9de, 0 0 0 1px #e7e8ec;
    padding: 0;
}
