.login-form .card {
    box-shadow: 5px 5px 15px 1px rgba(0,0,0,.1);
}

.login-form .alert {
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(-120%);
    width: 100%;
    box-shadow: 5px 5px 15px 1px rgba(0,0,0,.1);
}